<!-- <div *ngFor="let training of myTraining">
        training Name: {{training.name}}
    <div *ngFor="let element of training.elements"> Element:{{element.subject}}</div>

</div> -->

<div class="container my-3 py-3 " >

  <h2 class="h1 text-center mb-5">Mes formartions</h2>
  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      

    <h3 class="font-weight-bold">Course title</h3>

     <p class="text-muted mb-5">Here is the list of courses that  you have chosen.</p> 

    <!--Grid row-->
    <div  *ngFor="let training of courses; let i = index;" >
      <div class="row" >

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">

          <img src="../../../../assets/elearining.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-lg-0 mb-2">

          <h4 class="font-weight-bold mb-3"><strong>{{training.name}}</strong></h4>
          <!-- Excerpt -->
          <p class="dark-grey-text">{{training.description}}
           .</p>
          <!-- Post data -->
          <p> <a class="font-weight-bold">Instituation Name :</a> {{training.hostInstitution}}
          </p>
          <p><a class="font-weight-bold"> starting Date : </a> {{training.startingDate}}

          </p>
          <p><a class="font-weight-bold">Ending Date :  </a> {{training.endingDate}}
           
          </p>
          

        </div>
 

      </div>
      <div *ngIf="show[i]">
        <div class="col-12 mb-4" *ngFor="let elem of training.elements" >
          <div class="card z-depth-0 bordered border-light">
             <div class="card-body p-0">
                <div class="row mx-0">
                   <div class="col-md-8 grey lighten-4 rounded-left pt-4">
                      <h5 class="font-weight-bold"> {{elem.subject}} </h5>
                      <p class="font-weight-light text-muted mb-4">la duré d'element est 
                        <span class="badge badge-success product mb-4 ml-2 "> {{elem.duration}} heurs</span>

                        </p>

                   </div>
                   <div class="col-md-3 text-center pt-4">
                      <p class="h1 font-weight-normal">{{elem.price}} DH</p>
                      <p class="h5 font-weight-light text-muted mb-4">{{elem.startingDate}}</p>
                      <button mat-raised-button color="warn" (click)='supprimerElement(elem.id)' >supprimer</button>
                   </div>
   
                  
                </div>
             </div>
          </div>
       </div>
      </div>
      
     
      <div class="button  col-md-12 text-center">
        <button mat-raised-button color="primary" (click)="showelement(i)" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" 
        ><span>{{isCollapsed ? 'Afficher les elements' : 'Annuler'}}</span></button>

      
     </div>
      <hr>
    </div>
 
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>