
<div class="container my-5">

 
    <!--Section: Content-->
    <section class="contact-section dark-grey-text mb-5">
      
      <style>
      	.contact-section .form .btn-floating {
          left: 3px;
        }
      </style>

      <!-- Form with header -->
      <div class="card">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-8">

            <div class="card-body form">

              <!-- Header -->
              <h3 class="font-weight-bold dark-grey-text mt-4">
                <span class="material-icons pr-2 mr-1">
                  person
                  </span>
                Mon Profile:</h3>

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" class="form-control " name="firstName" placeholder="First Name"
                    [(ngModel)]="currentUser.firstName"
                    > 
                  </div>
                </div>
                
                <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text"  class="form-control " name="lastName" placeholder="Last Name" 
                       [(ngModel)]="currentUser.lastName">
                    </div>
                  </div>
                <!-- Grid column -->

                <!-- Grid column -->
                
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="number"  class="form-control " name="phone" placeholder="Your phone"  [(ngModel)]="currentUser.phone">

                  </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="email"  class="form-control " name="email" [(ngModel)]="currentUser.email" placeholder="Your email">

                    </div>
                  </div>
                <!-- Grid column -->

                <!-- Grid column -->
              
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text"  class="form-control "  name="username" [(ngModel)]="currentUser.username" placeholder="User name">
                  </div>
                </div>
                <div class="col-md-6">
            <div class="md-form mb-0">
                        <!-- <label for="file">Votre CV</label> -->
                        <input type="file" id="customFile" (change)="selectFile($event)" class="form-control " accept=".pdf">
    
                    </div> 
                  
                  </div>

                <!-- Grid column -->

              </div>
              <!-- Grid row -->
              <button mat-raised-button color="primary" class="mr-2" (click)="updateTrainer()">Modifier</button>


            </div>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4">

            <div class="card-body contact text-center h-100 white-text">

              <h3 class="font-weight-bold my-4 pb-2">Contact information</h3>
              <ul class="text-lg-left list-unstyled ml-4">
                <li>
                  <p><span class="material-icons pr-2 mr-1">
                    person
                    </span>{{currentUser.firstName}}</p>
                </li>
                <li>
                  <p><span class="material-icons">
                    phone_callback
                    </span> {{currentUser.phone}}</p>
                </li>
                <li>
                  <p><span class="material-icons">
                    mail
                    </span> {{currentUser.email}}</p>
                </li>
              </ul>
              <hr class="hr-light my-4">
             
            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Form with header -->

    </section>
    <!--Section: Content-->


  </div>

