<!-- <div>
  <div class='container'>
    <h2>Rating Trainer</h2>
    <div class="panel panel-primary">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Rating</th>
              <th>Rating No.</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of trainer">
              <td>
                {{item.name}}
              </td>
              <td>
                <app-rating [rating]='item.rating' [itemId]='item.id' (ratingClick)='ratingComponentClick($event)'>
                </app-rating>
              </td>
              <td>
                {{item.rating}} Stars
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p
      *ngIf="ratingClicked && (itemIdRatingClicked =='skill' || itemIdRatingClicked =='subject' || itemIdRatingClicked =='kindness')">
      The Trainer {{itemIdRatingClicked}} has been given {{ratingClicked}} stars</p>
    <h2>Rating Institution</h2>
    <div class="panel panel-primary">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Rating</th>
              <th>Rating No.</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of institution">
              <td>
                {{item.name}}
              </td>
              <td>
                <app-rating [rating]='item.rating' [itemId]='item.id' (ratingClick)='ratingComponentClick1($event)'>
                </app-rating>
              </td>
              <td>
                {{item.rating}} Stars
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p
      *ngIf="ratingClicked && (itemIdRatingClicked =='property' || itemIdRatingClicked =='equipment' || itemIdRatingClicked =='workspace')">
      The Trainer {{itemIdRatingClicked}} has been given {{ratingClicked}} stars</p>
  </div>
  <div class="button">
    <button mat-raised-button color="primary" (click)="saveRatings()">Add Ratings</button>
  </div>
</div> -->
<!-- <div *ngFor="let training of myTraining">
        training Name: {{training.name}}
    <div *ngFor="let element of training.elements"> Element:{{element.subject}}</div>

</div> -->

<div class="container my-3 py-3 ">


  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <h2 class="h1 text-center mb-5">Evaluer les formations</h2>

    

    <!-- <p class="text-muted mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae
      numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum reiciendis
      doloribus eius optio autem. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->

    <!--Grid row-->
    <div *ngFor="let training of courses; let i = index;">
    <!--   <h3 class="font-weight-bold">{{training.name}}</h3>
      <div class="row" >

        <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">

          <img src="https://mdbootstrap.com/img/Others/cards.png" class="img-fluid" alt="">

        </div>
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-lg-0 mb-2">

          <h4 class="h4">{{training.name}}</h4>

          <p class="text-muted">{{training.description}}.</p>

        </div>

      </div> -->
      <div class="container pt-1 my-5 ">
        <section class="p-md-3 mx-md-5">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-6 mb-4">
              <h2 class="font-weight-bold mb-3 red-text">{{training.name}}</h2>
              <p class="text-muted pt-3">
               
                {{training.description}}
              </p>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center mb-md-0 mb-5">
              <img src="../../../assets/Online-Learning-Logo.png">
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-lg-3 col-md-6 mb-5">
              <h5 class="font-weight-bold mb-3">
                <mat-icon>money</mat-icon>
                {{training.price}} Dirham
              </h5>
              <p class="text-muted mb-lg-0">
Le prix total du formation              </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
              <h5 class="font-weight-bold mb-3">
                <mat-icon>access_time</mat-icon> 
                {{training.hours}} Heurs
              </h5>
              <p class="text-muted mb-lg-0">
Le total des heurs              </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
              <h5 class="font-weight-bold mb-3">
                <mat-icon>domain</mat-icon>  {{training.hostInstitution}}
              </h5>
              <p class="text-muted mb-md-0">
L'institue du formation              </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
              <h5 class="font-weight-bold mb-3">
                 <mat-icon>menu_book</mat-icon> 
  {{training.elements.length}} Elements
              </h5>
              <p class="text-muted mb-md-0">

Le nombre total des elements du cour              </p>
            </div>
          </div>
        </section>
      </div>
      <div *ngIf="show[i]">
        <div class="container my-5 py-1" >

          <h2 class="h1 text-center mb-5 blue-text"> Evaluate Formation</h2>
        
          <!--Section: Content-->
          <section class="text-center">
        
        
            <!--Grid row-->
            <div class="row">
        
              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4" *ngFor="let item of trainer">
        
                <a href="" class="waves-effect waves-light"><img src="{{item.img}}" class="img-fluid img3" alt=""></a>
        
                <div class="card">
                  <div class="card-body">
        
                    <h3 >
                      <span class="orange-text">
                        <strong>{{item.name}}</strong>
                      </span>
                      
                    </h3>
        
        
                    <div class="amber-text fa-xs mb-1">
                      <app-rating [rating]='item.rating' [itemId]='item.id' (ratingClick)='ratingComponentClick($event)'>
                      </app-rating>
        
                    </div>
                    <h3 >
                      <span class="blue-text">
                        <strong>{{item.rating}} Stars</strong>
                      </span>
                      
                    </h3>
        
                  </div>
                </div>
        
              
        
        
              </div>
              <!--Grid column-->
              <div class=" col-md-12 text-center">
              <p
              *ngIf="ratingClicked && (itemIdRatingClicked =='skill' || itemIdRatingClicked =='subject' || itemIdRatingClicked =='kindness')"
               class="font-weight-bold"><a href="#">{{itemIdRatingClicked}}</a>  has been given  <a href="#">{{ratingClicked}} stars</a></p>
        
           
              </div>
            </div>
        
            <!--Grid row-->
            <div class="row">
        
              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4" *ngFor="let item of institution">
        
                <a href="" class="waves-effect waves-light"><img src="{{item.img}}" class="img-fluid img3" alt=""></a>
                <div class="card">
                  <div class="card-body">
                    <div class="mb-1">
                      <h3 >
                        <span class="orange-text">
                          <strong>{{item.name}}</strong>
                        </span>
                        
                      </h3>
                    
                    </div>
        
        
                    <div class="amber-text fa-xs mb-1">
                      <app-rating [rating]='item.rating' [itemId]='item.id' (ratingClick)='ratingComponentClick1($event)'>
                      </app-rating>
                    </div>
                    <h3 >
                      <span class="blue-text">
                        <strong>{{item.rating}} Stars</strong>
                      </span>
                      
                    </h3>
                  </div>
               
                </div>
        
        
        
              </div>
              <!--Grid column-->
        
            
        
            </div>
            <!--Grid row-->
            <p
              *ngIf="ratingClicked && (itemIdRatingClicked =='property' || itemIdRatingClicked =='equipment' || itemIdRatingClicked =='workspace')"
              class="font-weight-bold"><a href="#">{{itemIdRatingClicked}}</a>  has been given  <a href="#">{{ratingClicked}} stars</a></p>
        
          
            <div class=" col-md-12 text-center white-text">
        
              <a class="btn btn-info btn-md"  role="button" (click)="saveRatings(i)" routerLink="/default/mesformation">Add Ratings</a>
        
            </div>
            
          </section>
          <!--Section: Content-->
        
        
        </div>
      </div>
      
      <div class=" col-md-12 text-center  white-text">

        <a class="btn btn-info btn-md" (click)="showelement(i)" role="button"> Evaluate Formation</a>

      </div>

      <hr>
      
    </div>
    
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>

