

<mat-divider></mat-divider>

<br>
<h4 class="font-weight-bold text-left indigo-text mb-5"><span class="material-icons">
    insert_chart
    </span> Statistique </h4>


<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="Total Course" total="{{nombreCourse}}" percentage="50" [data]="card"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Total Price Training" total="{{sumPrix}} DH" percentage="{{sumPrix/100}}" [data]="card"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Total Price Training" total="8k" percentage="30" [data]="card"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Total Benificiare" total="6k" percentage="20" [data]="card"></app-widget-card>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<br>
<br>
<br>