<div class="container my-5">


  <!--Section: Content-->
  <section class="contact-section dark-grey-text mb-5">

    <style>
      .contact-section .form .btn-floating {
        left: 3px;
      }
    </style>

    <!-- Form with header -->
    <div class="card">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-8">

          <div class="card-body form">

            <!-- Header -->
            <h3 class="font-weight-bold dark-grey-text mt-4">
              <span class="material-icons pr-2 mr-1">
                person
              </span>
             Modifier Formation:</h3>

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-4">
                <div class="md-form mb-0">
                  <input type="text" class="form-control " name="name" placeholder="NameFirst Name"
                    [(ngModel)]="currenttraining.name">
                </div>
              </div>

              <div class="col-md-4">
                <div class="md-form mb-0">
                  <input type="text" class="form-control " name="name" placeholder="NameFirst Name"
                    [(ngModel)]="currenttraining.description">
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form mb-0">
                  <input type="text" class="form-control " name="name" placeholder="NameFirst Name"
                    [(ngModel)]="currenttraining.hostInstitution">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="md-form mb-0">
                  <input type="text" class="form-control " name="name" placeholder="NameFirst Name"
                    [(ngModel)]="currenttraining.maxNumber">
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form mb-0">
                  <input type="text" class="form-control " name="name" placeholder="NameFirst Name"
                    [(ngModel)]="currenttraining.minNumber">
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form mb-0">
                  <input type="text" class="form-control " name="name" placeholder="NameFirst Name"
                    [(ngModel)]="currenttraining.hours">
                </div>
              </div>
            </div>
           
           
            

            <!-- Grid column -->

          </div>
          <button mat-raised-button color="primary" class="mr-2" (click)="modifier(course)">Modifier</button>

          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- <div *ngIf="modificationTrainingtriger">
              <p *ngFor="let elem of modificationTraining.elements; let i = index">
                <app-element [element]="modificationTraining.elements[i]"></app-element>
              </p>
              <button mat-raised-button color="primary" class="mr-2" (click)="appliquermodification()"
                routerLink="/default/formation">Modifier</button>
            </div> -->

            <!-- Grid column -->

          </div>
          <!-- Grid row -->


        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->


<!-- Form with header -->

</section>
<!--Section: Content-->


</div>